@page
@model FoodiesLounge.Pages.Admin.FoodTypes.DeleteModel
@{
}
<partial name="_Notification"></partial>
<form method="post">
     <input hidden asp-for="FoodType.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete Food</h2>
            <hr />
            <div class="mb-3">
                 <label asp-for="FoodType.name"></label>
                <input  asp-for="FoodType.name" disabled class="form-control"/>
              
            </div>
           
            <button type="submit" class="btn btn-Danger" style="width:150px;"> Delete</button>
            <a asp-page = "Index" class="btn btn-primary" style="width:150px">Back to List</a>
        </div>

    </div>
</form>

