@page
@model FoodiesLounge.Pages.Admin.MenuItems.IndexModel
@{
       ViewData["Title"] = "Menu Item page";
}
<partial name="_Notification"></partial>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Menu Item List</h2>
        </div>
          <div class="col-6">
           <a asp-page = "Upsert" class="btn btn-primary">Create New Menu Item</a>
        </div>
    </div>
    <br /><br />
    <table id="DT_load" class="table table-bordered  table-striped" style="width:100%">
        <thead>
            <tr>
                
                   <th>NAME</th>
                 <th>PRICE</th>
                <th>CATEGORY</th>
                 <th>FOOD TYPE</th>
                 <th></th>

            </tr>
        </thead>
     
    </table>
</div>
@section Scripts{
    <script src=~/js/menuItem.js></script>
}