@page
@model FoodiesLounge.Pages.Admin.MenuItems.UpsertModel
@{
       ViewData["Title"] = "Menu Item page";
}
<partial name="_Notification"></partial>
<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">
                @(Model.menuItems.Id == 0 ? "Create" : "Update")  Menu 
                   
                </h2>
            <hr />
            <div class="mb-3">
                 <label asp-for="menuItems.Name"></label>
                <input  asp-for="menuItems.Name" class="form-control"/>
                <span asp-validation-for="menuItems.Name" class="text-danger"></span>
            </div>
             <div class="mb-3">
                 <label asp-for="menuItems.Description"></label>
                <textarea  asp-for="menuItems.Description" class="form-control"></textarea>
                <span asp-validation-for="menuItems.Description" class="text-danger"></span>
            </div>
             <div class="mb-3">
                 <label asp-for="menuItems.Price"></label>
                <input  asp-for="menuItems.Price" class="form-control"/>
                <span asp-validation-for="menuItems.Price" class="text-danger"></span>
            </div>
          <div class="mb-3">
                 <label asp-for="menuItems.Image"></label>
                <input  type='file' name="files" id="uploadBox" class="form-control"/>
             
            </div>
         <div class="mb-3">
                 <label asp-for="menuItems.CAtegoryId"></label>
               <select asp-for="menuItems.CAtegoryId" asp-items="Model.CategoryList" class="form-select">
                   <option disabled selected>-Select Category </option>
               </select>
              <span asp-validation-for="menuItems.CAtegoryId" class="text-danger"></span>
            </div
              <div class="mb-3">
                 <label asp-for="menuItems.FoodTypeId"></label>
               <select asp-for="menuItems.FoodTypeId" asp-items="Model.FoodTypeList" class="form-select">
                   <option disabled selected>-Select Food Type </option>
               </select>
              <span asp-validation-for="menuItems.FoodTypeId" class="text-danger"></span>
            </div>
        
            <button type="submit" class="btn btn-primary" style="width:150px;"> Create</button>
        </div>

    </div>
</form>
@section Scripts{
     <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange export formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });
  </script>
  @{
      <partial name="_ValidationScriptsPartial"/>
  }
}
