@page
@model FoodiesLounge.Pages.Order.OrderListModel
@{
       ViewData["Title"] = "Order List page";
}
<partial name="_Notification"></partial>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Order List</h2>
        </div>
         @* <div class="col-6">
           <a asp-page = "OrderLIst" class="btn btn-primary">Create New Menu Item</a>
        </div>*@
    </div>
    <br /><br />
    <table id="DT_load" class="table table-bordered  table-striped" style="width:100%">
        <thead>
            <tr>
                
                   <th>ORDER ID</th>
                 <th>NAME</th>
                <th>ORDER TOTAL</th>
                 <th>PICKUP TIME</th>
                 <th></th>

            </tr>
        </thead>
     
    </table>
</div>
@section Scripts{
    <script src=~/js/orderlist.js></script>
}
